<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<th:block layout:fragment="addCommonScript">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>

<section layout:fragment="content">
    <h1>실시간 사이트 분석</h1>

    <form method="get">
        <input type="text" name="siteUrl" placeholder="https://news.naver.com">
        <button type="submit">분석하기</button>
    </form>

    <div th:if="${analysisResult}">
        <h2>결과</h2>
        <img th:src="@{'/uploads/trend/' + ${analysisResult.image}}" alt="워드클라우드" style="max-width: 500px;">

        <div class="chart-wrap">
            <canvas id="myChart"></canvas>
        </div>

        <script type="application/json" id="chart-data" th:utext="${keywordsJson}"></script>

    </div>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</section>
</html>